In [1]:
import pandas as pd 
import geopandas as gpd
import matplotlib.pyplot as plt
import fiona

In [2]:
fiona.supported_drivers

{'AeronavFAA': 'r',
 'ARCGEN': 'r',
 'BNA': 'raw',
 'DXF': 'raw',
 'CSV': 'raw',
 'OpenFileGDB': 'r',
 'ESRIJSON': 'r',
 'ESRI Shapefile': 'raw',
 'GeoJSON': 'rw',
 'GeoJSONSeq': 'rw',
 'GPKG': 'rw',
 'GML': 'raw',
 'GPX': 'raw',
 'GPSTrackMaker': 'raw',
 'Idrisi': 'r',
 'MapInfo File': 'raw',
 'DGN': 'raw',
 'PCIDSK': 'r',
 'S57': 'r',
 'SEGY': 'r',
 'SUA': 'r',
 'TopoJSON': 'r'}

In [3]:
wrecks_df = gpd.read_file('Hazardous_driving_areas.csv')

In [4]:
wrecks_df.head()

,Geohash,GeohashBounds,Latitude_SW,Longitude_SW,Latitude_NE,Longitude_NE,Location,Latitude,Longitude,City,County,State,Country,ISO_3166_2,SeverityScore,IncidentsTotal,UpdateDate,Version,geometry
0,c28qvs9,"POLYGON((-123.155364990234 49.0237426757812, -...",49.024,-123.155,49.025,-123.154,POINT(-123.15458 49.02429),49.024,-123.155,,,,,,0.009,3,2020-10-02,5.1,None
1,d9uhxu6,"POLYGON((-61.5316772460938 10.6581115722656, -...",10.658,-61.532,10.659,-61.53,POINT(-61.53142 10.65856),10.659,-61.531,,,,,,0.058,7,2020-10-02,5.1,None
2,6px5wjb,"POLYGON((-79.892578125 -2.16567993164062, -79....",-2.166,-79.893,-2.164,-79.891,POINT(-79.89216 -2.16474),-2.165,-79.892,,,,,,0.006,3,2020-10-02,5.1,None
3,c28qvsf,"POLYGON((-123.153991699219 49.0251159667969, -...",49.025,-123.154,49.026,-123.153,POINT(-123.15385 49.02591),49.026,-123.154,,,,,,0.025,4,2020-10-02,5.1,None
4,6px5y0k,"POLYGON((-79.8870849609375 -2.15194702148438, ...",-2.152,-79.887,-2.151,-79.886,POINT(-79.88607 -2.15113),-2.151,-79.886,,,,,,0.046,3,2020-10-02,5.1,None

In [5]:
wrecks_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 10939 entries, 0 to 10938
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Geohash         10939 non-null  object
 1   GeohashBounds   10939 non-null  object
 2   Latitude_SW     10939 non-null  object
 3   Longitude_SW    10939 non-null  object
 4   Latitude_NE     10939 non-null  object
 5   Longitude_NE    10939 non-null  object
 6   Location        10939 non-null  object
 7   Latitude        10939 non-null  object
 8   Longitude       10939 non-null  object
 9   City            10939 non-null  object
 10  County          10939 non-null  object
 11  State           10939 non-null  object
 12  Country         10939 non-null  object
 13  ISO_3166_2      10939 non-null  object
 14  SeverityScore   10939 non-null  object
 15  IncidentsTotal  10939 non-null  object
 16  UpdateDate      10939 non-null  object
 17  Version         10939 non-null  object
 18  geometry        0 non-null      geometry
dtypes: geometry(1), object(18)
memory usage: 1.6+ MB

In [6]:
wrecks_df.drop(['Geohash', 'GeohashBounds','Latitude_SW', 'Longitude_SW', 'Latitude_NE', 'Longitude_NE', 'City', 'County', 'State', 'ISO_3166_2', 'UpdateDate', 'Version'], axis=1, inplace=True)

In [7]:
wrecks_df.head()

,Location,Latitude,Longitude,Country,SeverityScore,IncidentsTotal,geometry
0,POINT(-123.15458 49.02429),49.024,-123.155,,0.009,3,None
1,POINT(-61.53142 10.65856),10.659,-61.531,,0.058,7,None
2,POINT(-79.89216 -2.16474),-2.165,-79.892,,0.006,3,None
3,POINT(-123.15385 49.02591),49.026,-123.154,,0.025,4,None
4,POINT(-79.88607 -2.15113),-2.151,-79.886,,0.046,3,None

In [8]:
wrecks_df["IncidentsTotal"].describe()

count     10939
unique      188
top           3
freq       3298
Name: IncidentsTotal, dtype: object

In [9]:
# check if dataframe has any null values in field objects
pd.isnull(object)

False

In [10]:
# convert totals of incidents from object to int type
wrecks_df["IncidentsTotal"] =pd.to_numeric(wrecks_df["IncidentsTotal"], errors='coerce')

In [11]:
# convert the severity scores from object to int type 
wrecks_df["SeverityScore"] =  pd.to_numeric(wrecks_df["SeverityScore"], errors='coerce')

In [12]:
# make sure the dataframe is still a dataframe and not a series
type(wrecks_df)

geopandas.geodataframe.GeoDataFrame

In [13]:
wrecks_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 10939 entries, 0 to 10938
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Location        10939 non-null  object
 1   Latitude        10939 non-null  object
 2   Longitude       10939 non-null  object
 3   Country         10939 non-null  object
 4   SeverityScore   10939 non-null  float64
 5   IncidentsTotal  10939 non-null  int64
 6   geometry        0 non-null      geometry
dtypes: float64(1), geometry(1), int64(1), object(4)
memory usage: 598.4+ KB

In [14]:
# what is the percentage of the dataset by each country?
wrecks_df.Country.value_counts(normalize=True)

Mexico                                                        0.582412
Canada                                                        0.176524
United States of America (the)                                0.150471
Trinidad and Tobago                                           0.064997
United Kingdom of Great Britain and Northern Ireland (the)    0.006765
South Africa                                                  0.005211
Spain                                                         0.005028
Ecuador                                                       0.004479
Chile                                                         0.001737
                                                              0.000914
Australia                                                     0.000548
United Kingdom                                                0.000274
Singapore                                                     0.000274
Colombia                                                      0.000183
Saint Lucia                                                   0.000091
Zambia                                                        0.000091
Name: Country, dtype: float64

In [20]:
# create df of mexican collisons
mexico = wrecks_df[wrecks_df["Country"] == 'Mexico']
# create df of canadian collisions
canada = wrecks_df[wrecks_df["Country"] == 'Canada']
#create df of us collisions
usa = wrecks_df[wrecks_df["Country"] == 'United States of America (the)']
# create df of all collisions in north america
north_america = wrecks_df[wrecks_df['Country'].isin(["Mexico", 'Canada', 'United States of America (the)'])]

In [23]:
# write north american country collisions to csv files
mexico.to_file('../clean_data/collisions_mexico.csv', driver='CSV')
canada.to_file('../clean_data/collisions_canada.csv', driver='CSV')
usa.to_file('../clean_data/collisions_us.csv', driver='CSV')
north_america.to_file('../clean_data/collisions_all.csv', driver='CSV')